# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
!terraform.tfvars.example
tfplan.out

# Zip / Builds
*.zip

# Logs
*.log
ecommerce-app-three-tier-azure-db-ih/
ecommerce-app-three-tier-azure-db-ih/
